<ion-header >
    <ion-toolbar class="headerT">
        <ion-title>login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <img class="icon" src="assets/images/imgLogin.jpg">
        <ion-item>  
                <ion-input placeholder="Perfil"></ion-input>
        </ion-item>
        <ion-item>
                <ion-input placeholder="Usuario"></ion-input>
        </ion-item>
        <ion-item>
                <ion-input placeholder="Contraseña"></ion-input>
        </ion-item>
            <ion-button expand="block" [routerLink]="[ 'home/tabs/tab2']">INGRESAR</ion-button>
</ion-content>