<ion-header >
    <ion-toolbar class="headerT">
        <ion-title>login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>
                <ion-input placeholder="Perfil"></ion-input>
        </ion-item>
        <ion-item>
                <ion-input placeholder="Usuario"><ion-icon name="mail"></ion-icon></ion-input>
        </ion-item>
        <ion-item>
                <ion-input placeholder="Contraseña"><ion-icon name="key"></ion-icon></ion-input>
        </ion-item>

    </ion-list>
        <!-- <button ion-button full [routerLink]="[ 'home/tabs/tab2']">INGRESAR2</button> -->
            <ion-button full [routerLink]="[ 'home/tabs/tab2']">INGRESAR</ion-button>
</ion-content>