<ion-header class="headerT">
</ion-header>
<ion-header class="headerT">
    <P class="headert">MESAS</P>
</ion-header>
<ion-content>
    <div size="3">
        <h1>Seleccione la mesa:</h1>
    </div>
    <ion-row>
        <ion-col>
            <ion-card>
                <img src="/assets/images/home.jpg" height=120% />
                <ion-button expand="full">MESA 1</ion-button>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <img src="/assets/images/home.jpg" height=120% />
                <ion-button expand="full">MESA 2</ion-button>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <img src="/assets/images/home.jpg" height=120% />
                <ion-button expand="full">MESA 3</ion-button>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <img src="/assets/images/home.jpg" height=120% />
                <ion-button expand="full">MESA 4</ion-button>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <img src="/assets/images/home.jpg" height=120% />
                <ion-button expand="full">MESA 5</ion-button>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <img src="/assets/images/home.jpg" height=120% />
                <ion-button expand="full">MESA 6</ion-button>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-content>