<ion-header>
    <!--Componente principal que contiene el componente de la barra de herramientas. Este debe ser uno de los tres elementos principales de una página.-->
</ion-header>

<ion-content>
    <!--El componente de contenido proporciona un área de contenido fácil de usar con algunos métodos útiles para controlar el área desplazable. Solo debe haber un contenido en una sola vista.

  El contenido, junto con muchos otros componentes iónicos, se puede personalizar para modificar su relleno, margen y más utilizando los estilos globales proporcionados en Utilidades CSS o al diseñarlo individualmente usando CSS y los disponibles Propiedades personalizadas de CSS.
  
  Uso-->
    <ion-card-header>

    </ion-card-header>
    <ion-card class="welcome-card">
        <ion-card-header>

        </ion-card-header>
        <!--Las tarjetas son una pieza estándar de la interfaz de usuario que sirve como punto de entrada a información más detallada. Una tarjeta puede ser un solo componente, pero a menudo se compone de un encabezado, título, subtítulo y contenido. ion-card se divide en varios subcomponentes para reflejar esto. Por favor, vea ion-card-content, ion-card-header, ion-card-title, ion-card-subtitle.-->
        <ion-card-content>
            <!--ion-card-subtitle es un componente hijo de ion-card-->
            <h2 class="paddingt2" color="primary">
                <!--Elt titulo first-->
                Restaurante Móvil
            </h2>
            <h1 class="paddingt" color="primary">
                REMO
            </h1>
            <!--ion-card-contentes un componente secundario ion-card que agrega algo de relleno de contenido. Se recomienda que cualquier contenido de texto para una tarjeta se coloque en un ion-card-content.-->
            <img src="/assets/home.svg" height="120%" alt="" />
            <div class="col-1">

            </div>

            <ion-row>
                <ion-col class="ion-padding-start">
                    <div class="space">
                        <p class="space"><b>
                            Hacemos de tu experiencia algo<br> agradable con buenos<br> tiempos de entrega
                        </b>
                        </p>

                    </div>
                </ion-col>

            </ion-row>
        </ion-card-content>
    </ion-card>



</ion-content>